<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
    <!--<link rel="stylesheet" href="../static/css/jquery-ui.css">-->
    <link href="../static/css/bootstrap-multiselect.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery-ui-1.12.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        {% include "createConfig.js" %}


    </script>
</head>
<body>
<a href="/logout">Logout</a>
<h1 align="center"> Symantic Config </h1>
<form action="/createConfig" method="post">
    <table class="form-table" border="0" style="table-layout: fixed; width: 50%;" align="center" id="symantictable">
        {% for column in columnTuple %}
        <tr style="padding-bottom: 3px;">
            <td style="width: 40%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <label for="{{column.replace(' ','_')}}">{{column}}</label></td>
            <td style="width: 60%; padding-top: .5em; padding-bottom: .5em;">
                <input type="text" id="{{column.replace(' ','_')}}" name="{{column.replace(' ','_')}}[]"
                       style="width:150px;" required/>
            </td>
        </tr>
        {#
        <!--<input type="hidden" id="hidden_{{column.replace(' ','_')}}" name="hidden_{{column.replace(' ','_')}}" />-->
        #}
        {% endfor %}
    </table>

    <h1 align="center"> Syntactic Config </h1>
    <table class="form-table" border="0" style="table-layout: fixed; width: 70%;" align="center" id="syntaxtable">

        <thead>
        {% for field in syntaxFields %}
        <th>{{field}}</th>
        {% endfor %}
        </thead>
        <tbody>

        <tr style="padding-bottom: 3px;">
            {% for id in syntaxIDs %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;">
                <input type="text" id="{{id + '1'}}" name="{{id}}[]" style="width:170px;" required/>
            </td>
            {% endfor %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;">
                <a href="javascript:void(0);" class="addCF">Add</a>
            </td>
        </tr>
        {#
        <!--<input type="hidden" id="hidden_{{column.replace(' ','_')}}" name="hidden_{{column.replace(' ','_')}}" />-->
        #}
        </tbody>
    </table>
    <div align="center">
        <input type="reset" class="btn btn-primary" id="resetConfig" name="resetConfig" value="Reset"/>
        <input type="submit" class="btn btn-primary" id="submitConfig" name="submitConfig" value="Submit"/>
    </div>
</form>
</body>
</html>