<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
    <link href="../static/css/bootstrap-select.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/bootstrap-select.min.js"></script>

    <!--<link rel="stylesheet" href="../static/css/jquery-ui.css">-->
    <link href="../static/css/bootstrap-multiselect.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery-ui-1.12.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="../static/js/jquery-paginate.min.js"></script>
    <script type="text/javascript" src="../static/js/paging.js"></script>
    <link href="../static/css/jquerysctipttop.css" rel="stylesheet">
    <!--<script src="http://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>-->
    <!--<script type="text/javascript" src="../static/js/tableExport.js">
	<script type="text/javascript" src="../static/js/jquery.base64.js">
	<script type="text/javascript" src="../static/js/jspdf/libs/sprintf.js">
	<script type="text/javascript" src="../static/js/jspdf/jspdf.js">
	<script type="text/javascript" src="../static/js/jspdf/libs/base64.js">-->
    <script>
        {% include "progtel.js" %}

    </script>
    <style>
    @font-face {
        font-family: 'Fira Sans';
        src: url('../static/fonts/fira-sans/FiraSans-Medium.otf');
    }
    @font-face {
        font-family: 'Open Sans';
        src: url('../static/fonts/OpenSans/Semibold/OpenSans-Semibold.woff');
    }
    @font-face {
        font-family: 'Questa Sans';
        src: url('../static/fonts/QuestaFont/Fonts/2-Questa_Sans_Regular.otf');
    }
    @font-face {
        font-family: 'Ubuntu Family';
        src: url('../static/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf');
    }
    @font-face {
        font-family: 'Cabin';
        src: url('../static/fonts/cabin/Cabin-SemiBold.otf');
    }
    @font-face {
        font-family: 'Lobster';
        src: url('../static/fonts/Lobster/Lobster_1.3.otf');
    }
    @font-face {
        font-family: 'Myriad';
        src: url('../static/fonts/myriad-pro/MYRIADPRO-BOLDCOND.OTF');
    }
    @font-face {
        font-family: 'Rubik';
        src: url('../static/fonts/typewolf_google_fonts/typewolf_google_fonts/rubik/Rubik-Medium.ttf');
    }
    @font-face {
        font-family: 'Georgia';
        src: url('../static/fonts/GeorgiaRef.ttf');
    }
    @font-face {
        font-family: 'Verdana';
        src: url('../static/fonts/Verdana.ttf');
    }
    body { font-family:'Verdana'; background-color:#fafafa;}
    .page-navigation a {
        margin: 0 2px;
        display: inline-block;
        padding: 3px 10px;
        color: #ffffff;
        background-color: #70b7ec;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .page-navigation a[data-selected] { background-color: #3d9be0; }
    .container { margin:150px auto 30px auto;}


    </style>
</head>
<body>
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a>
            </li>
            <li role="presentation" class="active"><a href="/logout">SignOut</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Progtel App</h3>
</div>
<h2 align="center"> This is the complete view of the database </h2>
<h3 align="center"> Click <a href="/getSummary">here </a>for summary information </h3>
<div class="container-fluid">
    <!--<form action="/showDB" method="post">-->
    <div class="row-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="center">
            <button type="button" class="btn btn-default" id="toggleFilter">Hide Filters</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="center">
            <!--<button type="button" class="btn btn-default" id="toggleFilter">Hide Filters</button>-->
            <a class="btn btn-success" href="/printTable" role="button">Generate PDF</a>
        </div>
        <!--<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" align="right">-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" align="right">
            <form action="/showDB" method="post">
                <select id="sortColumn" name="sortColumn" class="selectpicker" data-live-search="true">
                    {% for column in column_tuple %}
                    <option value="{% for col in column %}{{col}}{% endfor %}">{% for col in column %}{{col}}{% endfor
                        %}
                    </option>
                    {% endfor %}
                </select>
                <select id="sortDir" name="sortDir" class="sortselectpicker">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <input type="submit" class="btn btn-primary" id="sort" name="submitbtn" value="SORT"/>
            </form>
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="filterDiv">
            <form action="/showDB" method="post">

                <br>
                {% if minmaxCounttuple %}
                <div id="countSlider"></div>
                <label for="count">Count range:</label>
                <!--<input type="text" id="mincount" style="border:0; font-weight:bold;display: inline;" readonly/>&nbsp;-->
                <input type="text" id="count" name="count" style="border:0; font-weight:bold;display: inline;"
                       readonly/>
                {% endif %}
                <br>
                <label for="dateFromfilter">From:</label><input type="text" id="dateFromFilter" name="dateFromFilter"
                                                                size="8"/>
                <label for="dateTofilter">To:</label><input type="text" id="dateToFilter" name="dateToFilter"
                                                            size="8"/>
                <br>
                <br>
                <table border="0" style="table-layout: fixed; width: 100%;">
                    {% for key, values in columnMapTuple.iteritems() %}
                    <tr style="padding-bottom: 3px;">
                        <td style="width: 40%; padding-top: .5em; padding-bottom: .5em;"><label
                                for="{{key.replace(' ','_')}}">{{key}}</label></td>
                        <td style="width: 60%; padding-top: .5em; padding-bottom: .5em;">
                            <select class="filterselectpicker" multiple data-live-search="true"
                                    id="{{key.replace(' ','_')}}"
                                    name="{{key.replace(' ','_')}}[]"
                                    style="width:150px;" title="All Selected" data-actions-box="true">
                                <!--<option value="<Select>">&lt;Select&gt;</option>-->
                                {% for value in values %}
                                <option value="{% for val in value %}{{val}}{% endfor %}">{% for val in value
                                    %}{{val}}{% endfor %}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <!--<input type="hidden" id="hidden_{{key.replace(' ','_')}}" name="hidden_{{key.replace(' ','_')}}" />-->

                    {% endfor %}
                </table>
                <!--<input type="text" name="filterVal"/>-->
                <br>
                <div align="center">
                    <input type="button" class="btn btn-primary" id="resetFilter" name="resetbtn" value="Reset"
                           onClick="window.location = window.location.href"/>
                    <!--onClick="window.location.reload()"/>-->
                    <input type="submit" class="btn btn-primary" id="submitFilter" name="submitbtn" value="Filter"/>
                </div>

            </form>
        </div>
        <!--<a class="btn btn-lg" href="/showDB" role="button">SORT</a>-->
        <!--<p><a class="btn btn-lg btn-success" href="showLogin" role="button">LOGOUT</a>-->
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="dataTable">
            <table border=1 class="table table-striped table-fixed" id="display">
                <thead>
                {% for column in column_tuple %}
                <th style="text-align: center">{% for col in column %}{{col}}{% endfor %}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for row in data_tuple %}
                <tr>
                    {% for item in row %}
                    <td align="center">{{item}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!--<a href="#" onClick="$('#dataTable').tableExport({type:'json',escape:'false'});">JSON</a>
        <a href="#" onClick="$('#dataTable').tableExport({type:'excel',escape:'false'});">XLS</a>
        <a href="#" onClick="$('#dataTable').tableExport({type:'csv',escape:'false'});">CSV</a>
        <a href="#" onClick="$('#dataTable').tableExport({type:'pdf',escape:'false'});">PDF</a>-->
    </div>
    <!--</form>-->
   <!-- <div id="editor"></div>
    <button id="cmd">generate PDF</button>-->
</div>
</body>
</html>