<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./static/css/printStyle.css'" rel="stylesheet">
    <!--
    <style type="text/css">
    @media print {
    @page {
      margin: 2.5cm;
    }
    div.row > div {
      display: inline-block;
      border: solid 1px #ccc;
      margin: 0.2cm;
    }
    div.row {
      display: block;
    }
}


.table {
    display: table;
    border-spacing: 2px;
}
.row {
    display: table-row;
}
.row > div {
    display: table-cell;
    border: solid 1px #ccc;
    padding: 2px;
}



    </style>
    -->
    <!--<style type="text/css">
    td{
    word-wrap: break-word;
    }
    @media print {
            nav { display: none }
            }
    </style>-->

</head>
<body>
<table border=1 id="display">
    <thead>
    {% for column in column_tuple %}
    <th align="center">{% for col in column %}{{col}}{% endfor %}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for row in data_tuple %}
    <tr>
        {% for item in row %}
        <td align="center">{{item}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>


<!--  body { font: .5em Fontin, serif }
        nav { font-size: .7em }

        @page { size: A3; margin: 1cm }
        @media print {
            nav { display: none }
        } -->