<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->
    <script type='text/javascript'>
        $(window).load(function(){
             $(function(){
                 $(".dropdown-menu").on("click", "li", function(event){
                     console.log("You clicked the drop downs", event)
                 })
                 $('.filterselectpicker').selectpicker({
                    size: 6 ,
                    width: '100%'
                 });
             })
        });




    </script>
</head>
<body>
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a>
            </li>
            <li role="presentation" class="active"><a href="/logout">SignOut</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Progtel App</h3>
</div>
<h3> Choose time interval for summary report </h3>
<div class="container">
    <form action="/getSummary" method="post">
        <select id="duration" name="duration" class="summaryselectpicker">
            {% for val in durationList %}
            <option value="{{val}}">{{val}}</option>
            {% endfor %}
        </select>
        <select id="interval" name="interval" class="summaryselectpicker">
            {% for val in intervalList %}
            <option value="{{val}}">{{val}}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" id="summarySubmit" name="summarySubmit" value="Get Summary"/>
    </form>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <!--<button type="button" class="btn btn-default" id="toggleFilter">Hide Filters</button>-->
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" align="right">
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="dataTable">
            {% set num=summaryHeader|length %}
            {% for columnName, columnData in summaryMap.viewitems() %}
            <table border=1 class="table table-striped table-fixed" id="display">
                <thead class="thead-inverse">
                <th style="text-align: center" colspan="{{num}}">{{columnName}}</th>
                </thead>
                <tbody>
                <tr>
                    {% for header in summaryHeader %}
                    <td align="center"><strong>{{header}}</strong></td>
                    {% endfor %}
                </tr>
                {% for tupleData in columnData %}
                {% for data in tupleData %}
                <tr>
                    {% for item in data %}
                    <td align="center">{{item}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <td style="height: 1em" colspan="{{num}}"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>