<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
    <!--<link rel="stylesheet" href="../static/css/jquery-ui.css">-->
    <link href="../static/css/bootstrap-multiselect.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery-ui-1.12.0.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-multiselect.js"></script>
    <link href="../static/css/bootstrap-select.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        {% include "updateConfig.js" %}
    </script>
</head>
<body>
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a>
            </li>
            <li role="presentation" class="active"><a href="/logout">SignOut</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Progtel App</h3>
</div>
<h1 align="center"> Log Server Config </h1>
<form action="/updateConfig" method="post">
    <table class="form-table" border="0" style="table-layout: fixed; width: 50%;" align="center" id="logservertable">
        {% for column in logserverColumn %}
        <tr style="padding-bottom: 3px;">
            <td style="width: 40%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <label for="{{column}}">{{column}}</label></td>
            <td style="width: 60%; padding-top: .5em; padding-bottom: .5em;">
                {% if column == "Password" %}
                <input type="password" id="{{column}}" name="{{column}}[]"
                       style="width:150px;" value="{{logserverMap[column]}}"/>
                {% else %}
                <input type="text" id="{{column}}" name="{{column}}[]"
                       style="width:150px;" value="{{logserverMap[column]}}"/>
                {% endif %}
            </td>
        </tr>
        {#
        <!--<input type="hidden" id="hidden_{{column.replace(' ','_')}}" name="hidden_{{column.replace(' ','_')}}" />-->
        #}
        {% endfor %}
    </table>
    <h1 align="center"> Semantic Config </h1>
    <table class="form-table" border="0" style="table-layout: fixed; width: 50%;" align="center" id="semantictable">
        {% for column in columnTuple %}
        <tr style="padding-bottom: 3px;">
            <td style="width: 40%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <label for="{{column.replace(' ','_')}}">{{column}}</label></td>
            <td style="width: 60%; padding-top: .5em; padding-bottom: .5em;">
                <input type="text" id="{{column.replace(' ','_')}}" name="{{column.replace(' ','_')}}[]"
                       style="width:150px;" value="{{semanticMap[column]}}"/>
            </td>
        </tr>
        {#
        <!--<input type="hidden" id="hidden_{{column.replace(' ','_')}}" name="hidden_{{column.replace(' ','_')}}" />-->
        #}
        {% endfor %}
    </table>
    <h1 align="center"> Syntactic Config </h1>
    <table class="form-table" border="0" style="table-layout: fixed; width: 90%;" align="center" id="syntaxtable">

        <thead>
        {% for field in syntaxFields %}
        <th style="text-align:center">{{field}}</th>
        {% endfor %}
        </thead>
        <tbody>

        <tr style="padding-bottom: 3px;">
            {% set index = 1 %}
            {# First row is handled separately because only first row will have add button. Others will have remove button#}
            {% for id, val in zip(textSyntaxIDs,syntaxTuple[0][:(textSyntaxIDs|length)]) %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <input type="text" name="{{id}}[]" style="width:170px;" value="{{val}}" required/>
            </td>
            {% endfor %}
            {% for id, val in zip(selectSyntaxIDs,syntaxTuple[0][(textSyntaxIDs|length):(textSyntaxIDs|length) + (selectSyntaxIDs|length)]) %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;"  align="center">
            <select name="{{id}}[]" class="selectpicker"  align="center">
                {% for type in supportedTypes %}
                <option value="{{type}}" {% if val==type %} selected="selected"{% endif %}>{{type}}</option>
                {% endfor %}
            </select>
            </td>
            {% endfor %}
            {% for id, val in zip(checkSyntaxIDs,syntaxTuple[0][(textSyntaxIDs|length) + (selectSyntaxIDs|length):(textSyntaxIDs|length) + (selectSyntaxIDs|length) + (checkSyntaxIDs|length)]) %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <input name="{{id}}[]" type="hidden" value="N">
                <input name="{{id}}[]" type="checkbox" {% if val=='Y' %} checked {% endif %} value="Y">
                <!--<input type="text" name="{{id}}[]" value="{{val}}"/>-->
                <!--<input type="checkbox" name="{{id}}[]" style="width:170px;" value="{{val}}" required/>-->
            </td>
            {% endfor %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <a href="javascript:void(0);" class="addCF">Add</a>
            </td>
        </tr>
        {% set index = index + 1 %}
        {% for row in syntaxTuple[1:] %}
        <tr style="padding-bottom: 3px;">
            {% for id, val in zip(textSyntaxIDs,row[:(textSyntaxIDs|length)]) %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <input type="text" name="{{id}}[]" style="width:170px;" value="{{val}}" required/>
            </td>
            {% endfor %}
            {% for id, val in zip(selectSyntaxIDs,row[(textSyntaxIDs|length):(textSyntaxIDs|length) + (selectSyntaxIDs|length)]) %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;"  align="center">
                <select name="{{id}}[]" class="selectpicker"  align="center">
                    {% for type in supportedTypes %}
                    <option value="{{type}}" {% if val==type %} selected="selected"{% endif %}>{{type}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endfor %}
            {% for id, val in zip(checkSyntaxIDs,row[(textSyntaxIDs|length) + (selectSyntaxIDs|length):(textSyntaxIDs|length) + (selectSyntaxIDs|length) + (checkSyntaxIDs|length)]) %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <input name="{{id}}[]" type="hidden" value="N">
                <input name="{{id}}[]" type="checkbox" {% if val=='Y' %} checked {% endif %} value="Y">
                <!--<input type="text" name="{{id}}[]" value="{{val}}"/>-->
                <!--<input type="checkbox" name="{{id}}[]" style="width:170px;" value="{{val}}" required/>-->
            </td>
            {% endfor %}
            {#
            {% for id,val in zip(syntaxIDs,row) %}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;">
                <input type="text" name="{{id}}[]" style="width:170px;" value="{{val}}" required/>
            </td>
            {% endfor %}
            #}
            <td style="width: 20%; padding-top: .5em; padding-bottom: .5em;" align="center">
                <a href="javascript:void(0);" class="remCF">Remove</a>
            </td>
        </tr>
        {% set index = index + 1 %}
        {% endfor %}
        {#
        <!--<input type="hidden" id="hidden_{{column.replace(' ','_')}}" name="hidden_{{column.replace(' ','_')}}" />-->
        #}
        </tbody>
    </table>
    <div align="center">
        <input type="reset" class="btn btn-primary" id="resetConfig" name="resetConfig" value="Reset"/>
        <input type="submit" class="btn btn-primary" id="updateConfig" name="updateConfig" value="Update"/>
    </div>
</form>
</body>
</html>
