<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <script src="../static/js/jquery.tablesorter.min.js"></script>
    <script src="../static/js/jquery.dataTables.min.js"></script>

    <script>
    $(function() {
        $('#sort').on("click",function()
        {
            console.log("Button clicked");
            var sortCol = $('#sortColumn').val();
            console.log(sortCol);
            var sortDirection = $('#sortDir').val();
            console.log(sortDirection);
//            $("#display").tablesorter();
///*
            $('#display').DataTable(
            {
                "processing": true,
                "serverSide": true,
                "ajax": {
                  "url": '/showProcessedDB',
                  "method": 'post',
/*                  data: function(args) {
                    return {
                        "sortCol": sortCol,
                        "sortDir": sortDir
//                      "args": JSON.stringify(args)
                    };
                  }
*/
                  "data": function ( d ) {
                    d.sortCol = sortColumn;
                  },
                  "dataSrc": function ( json ) {
                  return json;
                  }
                }
            });
//*/
        });
    });



    </script>
</head>
<body>
<a href="/logout">Logout</a>
<h2 align="center"> This is the complete view of the database </h2>
<h3 align="center"> Click <a href="/getSummary">here </a>for summary information </h3>

&nbsp;&nbsp;<p>Sort by: </p>
&nbsp;&nbsp;<select id="sortColumn">
     {% for column in column_tuple %}
     <option value="{% for col in column %}{{col}}{% endfor %}">{% for col in column %}{{col}}{% endfor %}</option>
    {% endfor %}
</select>
<select id="sortDir">
  <option value="asc">Ascending</option>
  <option value="desc">Descending</option>
</select>
<button type="button" class="btn btn-primary" id="sort">SORT</button>
<!--<a class="btn btn-lg" href="/showDB" role="button">SORT</a>-->
<!--<p><a class="btn btn-lg btn-success" href="showLogin" role="button">LOGOUT</a>-->
<table border=1 class="table table-striped tablesorter" id="display">
    <thead>
    {% for column in column_tuple %}
    <th>{% for col in column %}{{col}}{% endfor %}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for row in data_tuple %}
    <tr>
        {% for item in row %}
        <td>{{item}}</td>{% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>